<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjetNET</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjetNET.styles.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

</head>
<body>
    <!-- <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index">Medvision</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index"> Users </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Posts" asp-action="Index">Posts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Photos" asp-action="Index">Photo </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Commentaires" asp-action="Index"> commentaire </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Commentaire" asp-action="Index"> Notification  </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Commentaire" asp-action="Index"> Déconnexion  </a>
                        </li>  
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
    -->
    <!-- Navigation -->

   <div class="container">
        <div class="navigation">
            <ul>
               
                  <li>
                    <a href="">
                        <span class="icon"> </span>
                         <span class="title">Medvision</span>

                        </a>
                         
                </li> 

                  <li>
                    <a href="/Posts">
                        <span class="icon"> <ion-icon name="home-outline"></ion-icon></span>
                         <span class="title"> Posts </span>

                        </a>
                         
                </li>
                 <li>
                    <a href="/Chats">
                        <span class="icon"> <ion-icon name="chatbubble-ellipses-outline"></ion-icon></span>
                         <span class="title"> Messages  </span>

                        </a>
                         
                </li>  
                   <li>
                    <a href="/Users">
                        <span class="icon"> <ion-icon name="person-outline"></ion-icon></span>
                         <span class="title"> Users </span>

                        </a>
                         
                </li>  
                    <li>
                    <a href="/Notifications">
                        <span class="icon">  <ion-icon name="notifications-outline"></ion-icon> </span>
                         <span class="title"> Notification  </span>

                        </a>
                         
                </li>   
                 
                   
           

                <li>
                    <a href="/Admins/Edit?id=1">
                        <span class="icon"> <ion-icon name="person-outline"></ion-icon></span>
                        <span class="title">Personnal information </span>

                    </a>

                </li>
                <li>
                   
                    <a href="/Admins/Account">
                        <span class="icon"> <ion-icon name="settings-outline"></ion-icon> </span>
                         <span class="title"> Account  </span>

                        </a> 
                        </li>
                        <li>
                    <a href="">
                        <span class="icon"> <ion-icon name="log-out-outline"></ion-icon></span>
                         <span class="title"> Déconnexion  </span>

                        </a> 
                        </li> 
            </ul>

       </div>

            

        <div class="main">
            <div class="topbar">
                <div class="toggle">
                     <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    
                </div>
                <div class="user">
                    <img src="~/images/p2.jpg" alt="" />

                </div>
            </div>


            <div class=" details">
                @RenderBody()
                <!--  <div class="col-md-12">
                   
                  </div>
               div class="col-md-4"></div>-->  
              </div>


        </div>
           
  
   </div>
   
    <!--
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ProjetNET - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- ionic icon  -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
